body{
   
    background-color: rgb(191, 199, 199);
}
#name{
    
    font-weight: bold;
    align-items: baseline 500px;
    
}
.detail{
    align-content: center;
}
.x{
    font-weight: normal;
}
.detail{
    /* padding-left: 50px; */
    margin-left: 30px;
    
}
#full{
    border: 6px;
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    border-color: black;
}